---
<<<<<<< HEAD
const { imageSrc, title, description } = Astro.props;
---

<div class="card">
  <img src={imageSrc} alt={title} class="card-image" />
  <div class="card-content">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>

<style>
.card {
  display: flex;
  align-items: center;
  border: 1px solid #7c60d5; 
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.card:hover {
  background-color: #c1b6e6; 
  color: white; 
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

/* Aplicar hover solo a .card-content */
.card-content:hover h3 {
  color: white; 
}

.card-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1.5rem;
  transition: none; /* Evitar efectos de hover en la imagen */
}

.card-content h3 {
  font-size: 1.5rem;
  color: #7c60d5; 
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.card-content p {
  font-size: 1rem;
  color: #333;
}
=======
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
>>>>>>> 4f86758bdcea45234a115a6b637b9d7e569e5c18
</style>
